#homeMegaMenu:hover{
    color: #ff9a00;
}
#pagesMegaMenu:hover{
    color: #ff9a00;
}
#navLinkPagesUtilities:hover{
    color: #ff9a00;
}
#navLinkContactsServices:hover{
    color: #ff9a00;
}
#navLinkPagesSpecialty:hover{
    color: #ff9a00;
}

#blogMegaMenu:hover{
    color: #ff9a00;
}
#demosMegaMenu:hover{
    color: #ff9a00;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    border-top: 0.1875rem solid #ff9a00 !important;
}
.btn-primary {
    color: #fff;
    background-color: #ff9a00 !important;
    border-color: #ff9a00 !important;
}
.swiper-container {
    width: 100%;
    height: 200px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 20%;
    object-fit: cover;
  }
  
  .btn-outline-primary {
    color: #ff9a00 !important;
    border-color: #ff9a00 !important;
}
.btn-outline-primary:hover {
    color: #fff !important;
    border-color: #ff9a00 !important;
    background-color: #ff9a00 !important;
}

